@import "../../../../scss/colors";

.video-item {
  height: 255px;
  width: 150px;

  img, .poster-placeholder {
    height: 100%;
    width: 100%;
  }

  .poster-placeholder {
    background-color: lighten($liberty-nav-bg, 1%);

    p {
      color: $liberty-grey;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}
