::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

/* add vertical min-height & horizontal min-width */
::-webkit-scrollbar-thumb:vertical {
  min-height: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  min-width: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
