.info-details {
  margin-top: 0.9rem;
}

.info-has-links {
  a {
    color: #FFFFFF;
    transition: all 150ms;
  }

  a:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }
}

.secondary {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 12.15px;
  color: rgba(255,255,255,0.60);
  letter-spacing: 0.08px;
  text-align: left;
  line-height: 24px;
  text-transform: uppercase;
}
