@import "scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

@import "scss/reset";
@import "scss/colors";
@import "scss/components";
@import "scss/utils";
@import "scss/typography";

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #000;
  display: flex;
}
