$liberty-red: hsl(0, 73%, 41%);

$liberty-grey: hsl(0, 0%, 59%);
$liberty-grey-light: lighten($liberty-grey, 20%);
$liberty-grey-dark: hsl(0, 0%, 48%);

$liberty-nav-bg: hsl(0, 0%, 8%);

$liberty-white: hsla(0, 0%, 100%, 0.9);
