@import "colors";

* {
  &:active,
  :focus {
    outline: none !important; // 1
  }
}

label {
  margin-bottom: 0; // 2
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

::selection {
  background: rgba(255, 255, 255, 0.08); /* WebKit/Blink Browsers */
}
